body,
html {
    padding: 0;
    margin: 0;
    /* commented when debugging */
    /* overflow-x: hidden;
    overflow-y: hidden; */
}


#main {
    /* uncommented for debugging */
    background: black;
    background: black;
    background: black;
    display: grid;
    grid-template-rows: 63px 1363px auto;
    grid-template-columns: 408px 1745px auto;
    font-size: 20px;
    position: absolute;
    width: 2560px;
    height: 1440px;
    font-weight: bold;
    -webkit-filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
    -moz-filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
    -ms-filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
    -o-filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;

}

/* The area where the game is played, don't put any overlay over this */
#gamearea {
    /* uncommented for debugging */
    background: red;
    background: red;
    background: red;
    grid-column: 2;
    grid-row: 2;
    opacity: 20%;
}

/* Main accuracy and hits panel, also displaying the strains graph and map BG */
#accSection {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 50px 325px;
    grid-template-rows: 150px 50px;
    row-gap: 10px;
    column-gap: 10px;
    margin: auto 10px auto auto;

    width: 375px;
    height: 200px;
    color: rgb(207, 207, 207);
    z-index: -1;
    border-style: solid;
    border-radius: 5px;
    /* default border color, changes with bg */
    border-color: #36849C;
    border-width: 5px;
    font-weight: 500;
}

#accBG {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    width: 375px;
    height: 200px;
    opacity: 15%;

}

#accuracy {
    grid-column: 1 / span 2;
    grid-row: 2;
    font-size: 20px;
    margin-left: 10px;
    width: 100px;
    height: 50px;

    /* temp */
    margin-top: -20px;
}

#graph {
    width: 300px;
    height: 150px;
    padding-right: 10px;
    grid-row: 1;
    grid-column: 2;
    fill: rgb(223, 0, 0);
}

#srchart {
    width: 300px;
    height: 150px;
    padding-right: 10px;
}

#graph>hr {
    height: 2px;
    border: none;
    margin: 0px;
    border-radius: 5px;
    /* default border color, changes with bg */
    background-color: #36849C;
}


#grade {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
    margin-left: 10px;
    font-size: 40px;
    color: #e0e0e0;
    box-shadow: "0 0 0.5rem #e0e0e0";

    /* temp */
    margin-top: 85px;
}

#hits {
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    border-radius: 0 0 14px 14px;
    align-items: center;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
}

#hits hr {
    margin: auto;
    border: 0px;
    width: 80%;
    border-radius: 3px;
    border-top: 3px;
    text-align: center;
}

#hits100 hr {
    border-top: solid rgb(0, 200, 0);
    box-shadow: 0 0 5px rgb(0, 255, 0);
}

#hits50 hr {
    border-top: solid rgb(200, 200, 0);
    box-shadow: 0 0 5px rgb(255, 255, 0);
}

#hitsMiss hr {
    border-top: solid rgb(200, 0, 0);
    box-shadow: 0 0 5px rgb(255, 0, 0);
}

#hitsSb hr {
    border-top: solid rgb(200, 200, 200);
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

/* PP and Combo Section */
#ppComboSection {
    color: #e0e0e0;
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
    transform: translate(0px, 145px);
    width: 375px;
    height: 50px;
    font-weight: 500;
}

#ppComboSection>div {
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    display: grid;
}

/* overlap stuff in the center (for the upwards glow effect) */
#ppComboSection>div>* {
    grid-column-start: 1;
    grid-row-start: 1;
    margin: auto;
}


#ppComboSection hr {
    width: 100px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 0px;
    text-align: center;
    border-top: solid rgb(200, 200, 200);
    box-shadow: 0 0px 10px rgb(255, 255, 255);
}

.upwardsGlow {
    /* go a bit up when we update, go super low if combo break / miss */
    opacity: 30%; 
    
    z-index: -1;
    width: 95px;
    height: 40px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7));
    filter: blur(2px);
}


/* Unstable Rate (UR) Bottom Display */
#urSection {
    grid-column: 2;
    grid-row: 2;
    margin: auto auto 45px auto;
    color: rgb(189, 189, 189);
    font-size: 25px;
    width: 150px;
    height: 50px;
    text-align: center;
}

#ur {
    display: block;
    box-sizing: border-box;
    width: 150px;
    height: 30px;
}

#urText {
    display: block;
    box-sizing: border-box;
    width: 150px;
    height: 20px;
    font-size: 15px;
}

/* Z/X keys right side display */
#keySection {
    grid-row: 2;
    grid-column: 3;
    margin: auto 10px auto auto;
    color: rgb(189, 189, 189);
    font-size: 15px;
    font-weight: 900;
    width: 100px;
    height: 200px;
    font-size: 50px;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.key {
    width: 100px;
    height: 100px;
    margin: auto;
    box-sizing: border-box;
    color: #10637c;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mods {
    position: fixed;
    display: flex;
    bottom: 120px;
    right: 20px;
    justify-items: flex-end;
    margin-right: 25px;
}

.mod img {
    position: relative;
    height: 50px;
    width: 50px;
    z-index: 1;
    object-fit: cover;
    margin-right: -25px;
    -webkit-filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.7));
    -moz-filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.7));
    -ms-filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.7));
    -o-filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.7));
}

.text {
    display: flex;
    justify-content: center;
}